@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	background-color: $colorLight;
	color: $colorLight;
	letter-spacing: 0.05rem;
}

.navbar {
	min-height: 5rem;
}

.bg-color {
	background-color: $colorBlack;
}

.dark {
	color: black;
}

.lead-xl {
	font-size: 1.75rem;
}

.btn-light {
	@include btn-light;
}

.btn-light:hover {
	background-color: $colorBlack;
	border: 1px solid $colorBlack;
	color: $colorLight;
}

.py-6 {
	padding-top: 10rem;
	padding-bottom: 12rem;
	background-image: url(../img/cajaoscura.jpg);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	margin-bottom: 15px;
}

.navbar-toggler-icon {
	background-color: $colorLight;
}

/*-------------------------------------------------------SERVICIOS------------------------------------------------- */

#grilla {
	display: grid;
	grid-template-areas: "mud flet carg" "mud flet carg" "mud flet carg" "mud flet carg" "mud flet carg" "mud flet carg"
		"imgmud imgflet imgcarg" "foot foot foot";
	grid-template-columns: 2fr 2fr 2fr;
	grid-template-rows: 30px 19px 19px 19px 19px 100px;
	grid-column-gap: 10px;
	padding-left: 45px;
	padding-bottom: 50%;
	text-align: center;
	font-size: 14px;
}

#grilla h3 {
	font-size: 30px;
}

.imgmud {
	grid-area: imgmud;
}
.imgflet {
	grid-area: imgflet;
}
.imgcarg {
	grid-area: imgcarg;
}

.mudanzas {
	grid-area: mud;
}

.fletes {
	grid-area: flet;
}

.cargas {
	grid-area: carg;
}

.footer {
	grid-area: foot;
}

.imagenesServicios {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: nowrap;
}

.imagenesServicios img {
	width: 50%;
	margin-top: 50px;
	height: auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagenesServicios img:hover {
	transform: scale(1.2);
	transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.footer {
	margin-top: 20px;
	background-color: $colorBlack;
	width: 100%;
	text-align: center;
	color: $colorLight;
}
.footer p {
	margin: 0px;
}

/*          CONTACTO                 */

.formularioContacto {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	margin: auto;
}

.formularioContacto iframe {
	padding: 20px;
}

.wa a img {
	width: 50px;
	position: fixed;
	bottom: 100px;
	right: 40px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 50%;
}

/* -------------------------------- FOOTER -----------------------------------*/
.footer {
	padding: 30px;
}

@media all and (max-width: 768px) {
	body {
		padding: 0;
		margin: 0;
	}
	.col-lg-7 {
		padding: 40px;
	}
	.img-fluid {
		padding-right: 0 !important;
	}
}
@media all and (max-width: 375px) {
	body {
		padding: 0;
		margin: 0;
	}
	#grilla {
		display: flex;
		flex-direction: column;
		padding: 20px;
	}
	.imgmud {
		grid-area: imgmud;
		padding: 20px;
	}
	.imgflet {
		grid-area: imgflet;
		padding: 20px;
	}
	.imgcarg {
		grid-area: imgcarg;
		padding: 20px;
	}

	.mudanzas {
		grid-area: mud;
		padding: 20px;
	}

	.fletes {
		grid-area: flet;
		padding: 20px;
	}

	.cargas {
		grid-area: carg;
		padding: 20px;
	}
	.formularioContacto iframe {
		width: 400px;
		height: 300px;
	}
}
